*{
    margin: 0;
}

html {
    background-color: #F0F5F9;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.header_p {
    display: inline-flex;
    width: 600px;
    padding: 15px;
}

header {
    background-color: #C9D6DF;
}

.descripcion {
    background-color: #52616B;
    color: white;
    padding: 10px;
}

.section_article {
    background-color: red;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}